<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">SANDEEP DAS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">N01472825</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/sandeeda"><i class="fab fa-github"></i></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://stackoverflow.com/users/13765098/sandeep-das"><i class="fab fa-stack-overflow"></i></i></a>
  </li>
</ul>