<div class = "align-items-center justify-content-center d-flex" style="height: 350px;">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>{{message}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Presented by: <cite title="Source Title">Moustache handlebars</cite>
        </figcaption>
    </figure>
</div>