<div class = "align-items-center justify-content-center d-flex" style="height: 350px;">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>We made the buttons on the screen look so good you'll want to lick them.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Apple founder: <cite title="Source Title">Steve Jobs</cite>
        </figcaption>
    </figure>
</div>