<div class="container my-custom-scrollbar">
    <div class="row">
        <form method="post" action="">
            <div class="input-group mb-3">
                <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
                <input type="search" class="form-control rounded" placeholder="Search by title" name = "title" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

</div>