body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer-absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.my-custom-scrollbar {
  position: relative;
  height: 790px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}